#MOOVE_SERVER_BASE_URL points to location.dmoove.org at port 3000
MOOVE_SERVER_BASE_URL=http://localhost:3000

#GPS_SERVER_PORT is the adapter port
GPS_SERVER_PORT=

CRS_SERVER=
CRS_SERVER_PORT_GTO6=20859
CRS_SERVER_PORT_UT04S=22422

GPSPOS_SERVER=
GPSPOS_SERVER_PORT_GT06=6006
GPSPOS_SERVER_PORT_UT04S=8800

# Server Configuration
ADMIN_PORT=6062

# Logging Configuration
ENABLE_RAW_LOGGING=true
ENABLE_PROFILING=true
LOG_RETENTION_DAYS=10
